.procedimentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 84px;
    background: linear-gradient(128deg, #0A6463 0%, #2BECEA 85.13%);
    width: 1280px;
    height: 720px;
    background-color: #EFEEEE;
}

.container__titulo-procedimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 430px;
    height: 55px;
    background-color: #EFEEEE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.25),
                0 8px 10px rgba(0, 0, 0, 0.25),
                0 8px 15px rgba(0, 0, 0, 0.25);
}

.titulo__principal-procedimentos {
    font-size: 25px;
    font-weight: 700;
}

.lista__procedimentos {
    display: flex;
    gap: 44px;
}

.item__procedimentos {
    width: 265px;
    height: 452px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25),
                0 4px 10px rgba(0, 0, 0, 0.25),
                0 4px 15px rgba(0, 0, 0, 0.25);
}